/* The default configuration incase none is specified */
configuration {
	width: 400;
	show-icons: true;
	terminal: "alacritty";
	auto-select: false;
	theme: "nord";
	display-run: " ";
	display-drun: "  ";
	display-window: "  ";
	drun-display-format: "{icon} {name}";
	/*font: "Source Code Pro for Powerline Medium 11";*/
	font: "Hack Regular Nerd Font Complete Mono 11";
	modi: "window,run,drun";
	show-icons: true;
}

@import "nord"

